.app-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 600px !important;
  width: 100%;
}
.important > span {
  color: red;
}
.item-grid {
  display: grid;
  grid-template-columns: 2.5fr 5fr 1fr;
}
.item-grid > div {
  padding: 10px;
  width: 100%;
}
.c-pointer {
  cursor: pointer !important;
}
.date-range > input {
  border: none;
  outline: none;
}
.date-range > input:last-child {
  margin-left: 20px;
}
